.container{
    width: 900px;
    height: 100vh;
    margin:2rem auto;
}
.contenedor{
    width:570px;
    height:300px;
    position: relative;
    border:1px solid tomato;
    margin:3rem auto;
}
.bloque{

    height:20px;
    width:100px;
    background-color:dodgerblue;
    position:absolute;
}
.usuario{
    width:100px;
    height:20px;
    position:absolute;
    background-color:tomato;
}
.bola{
    height:20px;
    width:20px;
    position:absolute;
    border-radius: 10px;
    background-color:pink;
}